{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_draft_list' %}"  class="top-menu"><span title="Draft"><i class="far fa-clipboard"></i></span></a>
            <a href="{% url 'post_new' %}"  class="top-menu"><span title="New Post"><i class="fas fa-plus"></i></span></a>
        {% else %}
            <a href="{% url 'login' %}"  class="top-menu"><span title="Login"><i class="fas fa-sign-in-alt"></i></span></a>
        {% endif %}
        <h1><a href="{% url "index" %}">PYTHON BLOG</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

