{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}"><span title="Edit"><i class="fas fa-edit fa-2x" style="margin-right: 20px"></i></span></a>
        {% endif %}

        {% if post.published_date %}
            <div class="date">
                Published: {{ post.published_date }}
            </div>
            {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}"><span title="Publish"><i class="fas fa-share-square fa-2x"></i></span></a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text | linebreaksbr }}</p>
    </div>
    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Add comment</a>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
            </div>
            <a href="{% url 'comment_remove' pk=comment.pk %}"><span title="Delete"><i class="fas fa-trash-alt"></i></span></a>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text }}</p>
        </div>
    {% empty %}
        <p>No comment yet...</p>
    {% endfor %}
{% endblock %}
