.page-header {
    background-color: #9932cc;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    margin-bottom: 10px;
}

.page-header a {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 70px;
}

.post a {
    color: #000000;
}

.post-form-blog textarea {
    width: 100%;
}

.post-form-blog .btn-primary {
    float: right;
}

.top-menu, .top-menu:hover {
    color: #ffffff;
    float: right;
    font-size: 30pt;
    margin-right: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.highlight pre {
    padding: 20px;
    margin-bottom: 0px;
}